{% load static %}
{% block css %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

{% endblock css %}

{% block body %}

{% include "includes/navbar.html" %}

<div class="login" style="background-image: url('https://www.google.com/imgres?q=login%20page%20background%20images&imgurl=https%3A%2F%2Fimg.freepik.com%2Fpremium-vector%2Fgeometric-gradient-technology-background_23-2149110132.jpg&imgrefurl=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Flogin-background&docid=Ya57M7GHXqD0uM&tbnid=FvNI1EBCe2lkDM&vet=12ahUKEwi80N_Dj92GAxXBSGwGHVOxB3EQM3oECGMQAA..i&w=626&h=417&hcb=2&ved=2ahUKEwi80N_Dj92GAxXBSGwGHVOxB3EQM3oECGMQAA')">
    <div class="container py-5">
        <div class="row mt-4 mb-5">
            <div class="col-md-6 m-auto">
                <div class="card border-rounded shadow m-auto">
                    <h2 class="m-auto pt-3">Login Here</h2>
                    <hr>
                    {% if mssg is not None %}
                        {% for item in mssg %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{ item }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form class="mx-4 my-2" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Username / Email</label>
                            {{form.username}}
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            {{form.password}}
                        </div>
                        <button type="submit" class="btn btn-outline-success">Login</button>
                    </form>
                    <hr>
                    <p class="ml-4">Don't have an account<a href="{% url "signup" %}"> SignUp</a></p>
                    <a href="{% url "pass_reset" %}"><p class="ml-4">Forget Password ?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

{% block scripts %}

{% endblock scripts %}